################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YS/.vs/YS/v16/Server/sqlite3/db.lock
